<div>
  <div>
    <img src=<%= @user.photo %> alt="User Image" />
    <div>
     <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.post_counter %> </p>
    </div>
  </div>
  <div>
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <% @user.posts.each do | post | %>
    <div>
      <p><%= post.title %></p>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </p>
    </div>
  <% end %>
  <button>See All Posts</button>
</div>


