<div class="post_detail">

  <div class="post_detail_card">

  <div class="post_detail_card_header">
    <p class ="post_title_card"> Post Details # <%=@post.id%> by <span class="post_author_name"><%=@post.author.name%></span></p>
    <p class="post_counters">Comments Given: <%=@post.comments_counter%> Likes: <%=@post.likes_counter%></p>
  </div>
  <div>
    <p class="post_text"><%=@post.text%></p>
  </div>
    </div>
    <% if  !@post.comments.empty?%>
    <div class ="post_detail_comment">
     <% @post.comments.each do |comment| %>
       <%= render 'shared/comment', comment:comment %>
       <% end %>
  </div>
    <%end%>
    <div class="comment_like_holder">

     <div class= "comment_form_holder">
       <h3>Leave a comment</h3>
      <%= render 'comments/form', comment: @comment %>
      </div>

       <div class="like_form_holder">
          <%= render 'likes/form', like: @like %>
          <div class="button_holder">
            <% if can? :destroy, @post%>
              <button>
                <%= link_to 'Delete post', user_post_path(@user,@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
              </button>
           <% end %>
        </div>
  </div>
      </div>
</div>
 
